<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.starlingrnfapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Catering"
            android:label="Catering"/>
        <activity android:name=".Settings"
            android:label="Settings"/>
        <activity android:name=".Guide"
            android:label="First Time User Guide"/>
        <activity android:name=".HelpCenter"
            android:label="Help Center"/>
        <activity android:name=".EditReservation"
            android:label="Edit Reservation"/>
        <activity android:name=".EditProfile"
            android:label="Edit Profile"/>
        <activity android:name=".Feedback"
            android:label="Feedback"/>
        <activity android:name=".HelpEnquiryForm"
            android:label="Enquiry Form"/>
        <activity android:name=".MyReservation"
            android:label="My Reservation"/>
        <activity android:name=".ConfirmDetails"
            android:label="Confirm Reservation"/>
        <activity android:name=".CreateStaff" />
        <activity android:name=".ManagerDashboard" />
        <activity android:name=".StaffDashboard" />
        <activity android:name=".StaffLogin" />
        <activity android:name=".ReserveForm"
            android:label="Reservation Form"/>
        <activity android:name=".LoginActivity"
            android:label="Login"/>
        <activity android:name=".ResetPassword"
            android:label="Reset Password"/>
        <activity android:name=".PDPA"
                  android:label="Personal Data Protection Act"/>
        <activity android:name=".SignupActivity"
                  android:label="Register"/>
        <activity android:name=".MainActivity"
                  android:label="Home"/>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".GettingDeviceTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>